@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VIDEO */

.season-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;

}

.season-bg img {

    background-position: center;
    background-size: cover;
}


/* APP */

.app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "a a a a s s"
        "a a a a s s"
        "d d d d s s"
        "d d d d s s"
    ;
    transition: opacity 500ms ease-in-out;
}

.inactive {
    opacity: 0;
}

/* AUDIO */

.audio {
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio i {
    font-size: 40px;
    color: white;
    cursor: pointer;
    text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.9);
}

.audio i:hover {
    color: #A2F887;
}

.audio .pause i:hover {
    color: #f88787;
}

.audio .progress {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 40px;
}

.audio .progress svg {
    position: absolute;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    z-index: -1;
}

.audio-time-remaining {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-family: "Explora";
    font-weight: bolder;
    text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.9);
}

/* DURATION */

.durations {
    grid-area: d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
}

.duration,
.season {
    width: 75px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 3vw;
    font-size: 26px;
    font-family: "Explora";
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0px 0px 15px #222;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.9);
}

.duration:hover,
.season:hover {
    background-color: rgb(162, 248, 135);
}

/* SEASONS */

.seasons {
    grid-area: s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    margin: auto;
}

.season {
    margin: 3vh;
}

.toggle-menu {
    display: none;
}



/* MEDIA QUERIES */

@media screen and (max-width: 600px) {


    .audio .progress {
        width: 175px;
        height: 175px;
        margin: 0 10px;
    }

    .audio .progress svg {
        width: 175px;
        height: 175px;
    }

    .rect1,
    .rect {
        width: 125px;
        height: 125px;
    }

    .audio-time-remaining {
        font-size: 30px;
    }

    .durations {
        padding: 0;
        width: 90%;
        margin: auto;
    }

    .duration {
        padding: 1vw;
        width: 60px;
    }

    .seasons {
        position: absolute;
        left: -340px;
        flex-direction: row;
        width: 100%;
        margin: auto;
        height: 100px;
        background-color: rgb(249, 250, 218);
        transition: left 500ms ease-in-out;
    }

    .season {
        width: 75px;
        font-size: 24px;
        margin: 5px;

    }

    .toggle-menu {
        display: flex;
        font-size: 20px;
        cursor: pointer;
        color: grey;
        padding-left: 20px;
        padding-right: 5px;
        transition: all .25s ease-in-out;
    }

    .toggle-menu:hover {
        color: #f88787;
    }

    .rotate {
        transform: rotate(180deg) translateX(-20%);
    }

    .active {
        left: 0;
    }
}