* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VIDEO */

.video {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.video video {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

/* APP */

.app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "a a a a s s"
        "a a a a s s"
        "d d d d s s"
        "d d d d s s"
    ;
}

/* AUDIO */

.audio {
    grid-area: a;
}

/* DURATION */

.duration {
    grid-area: d;
}

/* SEASONS */

.seasons {
    grid-area: s;
}


/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
    .video video {
        height: 100%;
    }
}